/* Fixing admonitions */
div.admonition p:not(.admonition-title) {
    white-space: pre-wrap;
}

p:not(.admonition-title) {
    white-space: pre-wrap;
}

/* Enables image attributes */
img[height], img[width] {
    height: revert-layer;
    width: revert-layer;
    max-width: none;
    min-width: unset;
    max-height: none;
    min-height: unset;
}

/* Changes the bottom layout */
.md-source-file {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Emotes */
img[alt$=":"] {
    height: 20px;
    vertical-align: middle;
}